<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learn-more Page</title>
    <link rel="stylesheet" th:href="@{/styles2.css}">
</head>
<body>
<header>
    <span class="span_style">This is a learn more page. Have a look and go back to the previous one!</span>
</header>
<main>
    <div class="div_style">
        <h4>What is it about?</h4>
        <p class="p_style">It’s a show about an ill-tempered, alcoholic scientific genius named Rick Sanchez and his
            teenage grandson, Morty Smith. At the beginning of the series, Rick reappears after a long absence. He
            struggles to reconnect with his daughter, Beth, but has more luck with her son, Morty, who joins him on
            adventures that take them all over the multiverse. Rick’s presence drives a wedge between Beth’s hapless
            husband Jerry — whom Rick loathes — and his family. That rift changes over the course of the series.
        </p>
        <h4>Is it a science fiction show?</h4>
        <p class="p_style">Yes. Sort of. Rick is a scientist who has created technology that can transport him and his
            companions throughout and beyond the known universe. He and Morty regularly encounter aliens and
            extradimensional beings. In “Pickle Rick,” he turns himself into a pickle to avoid taking part in family
            counseling.</p>
        <h4>So millennials really like this show?</h4>
        <p class="p_style">Millennials don’t call themselves millennials. That term is used by the type of person who
            doesn’t respond to the carefully assembled résumé and cover letter you’ve sent them. But yes, they do like
            it. Season 3 of “Rick and Morty” delivered the highest ratings in Adult Swim history, and according to
            Nielsen, it was the most-watched comedy show for 18-to-34-year-olds in the United States in 2017.</p>
    </div>
    <a th:href="main_page">
        <button>Go to welcome page</button>
    </a>
</main>
<footer class="footer">
    <p><b>Written by Viktoriia Kocherha, group id: 124-19-1</b></p>
</footer>
</body>
</html>