body {
    background-image: url('img3.jpg');
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 40px 0px 0px 0px;
}

.footer_style {
    background-color: black;
    color: azure;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.p_style {
    color: azure;
    font-size: 35px;
    background-color: rgba(25, 0, 255, 0.85);
    padding: 10px;
    margin-top: 300px;
    text-align: center;
}

